html {
  background: linear-gradient(to bottom, #010204, #09203f, #f78dbb);
  background-size: cover;
  font-family: 'helvetica neue';
  text-align: center;
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 2rem;
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
}

.stars {
  background: url(./images/stars-bg.png);
  background-size: contain;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

.clock {
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
  padding: 2rem;
  background: url(./images/isolated-1513342_1280-min.png);
  background-size: cover;
  background-position-x: -75px;
  background-position-y: 5px;
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px);
}

.hand {
  width: 50%;
  height: 6px;
  background: black;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.no-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.hour-hand {
  transform: rotate();
}
